.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    .error {
        color: rgb(38, 106, 207);
        font-size: 1.1em;
        font-weight: bold;
        display: flex;
        letter-spacing: .15rem;
    }
}