.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;

    @media screen and (max-width: 500px) {
        width: 80%;
    }

    @media screen and (max-width: 400px) {
        width: 90%;
    }

    .title {
        margin: 10px 0;
    }

    .error {
        color: rgb(38, 106, 207);
        font-size: 1.1em;
        font-weight: bold;
        display: flex;
        letter-spacing: .15rem;
    }

    button {
        @media screen and (max-width: 500px) {
            width: 80vw;
        }

        @media screen and (max-width: 400px) {
            width: 85vw;
        }
    }
}