.collection-preview {
    display: flex;
    flex-direction: column; // each preview
    margin-bottom: 30px;

    .title {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .preview {
        display: flex; // preview > each item (on same row)
        justify-content: space-between; // each item
    }
}